<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Takeaway System Website</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   </head>
   <body>
      <!-- Header Section -->
      <header>
         <nav class="navbar flex between wrapper">
             <a href="/" class="logo">Oingo Boingo Brothers</a>
             <ul class="nav-links flex gap-3">
                 <li><a href="/">Home</a></li>
                 <li><a href="/menu">Menu</a></li>
                 <li><a href="/about">About</a></li>
                 <li><a href="/#store-info">Contact</a></li>
             </ul>
             <div class="desktop-action flex gap-2">
                 <a href="#" class="cart-icon">
                     <i class="fa-solid fa-cart-shopping"></i>
                     <span class="cart-value">0</span>
                 </a>
                 <!-- W3 Schools login button -->
                 <!-- Button to open the modal login form -->
                 <button onclick="document.getElementById('id01').style.display='block'" class="signin btn">
                     Sign In &nbsp;
                     <i class="fa-solid fa-arrow-right-from-bracket"></i>
                 </button>

                 <div id="id01" class="modal">
<div class="modal-content animate">
 <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
 <div class="imgcontainer">
   <img src="/static/images/placeholder.svg" alt="Avatar" class="avatar" />
 </div>
 <form class="modal-form" action="/action_page.php">
   <div class="container">
     <label for="uname"><b>Username</b></label>
     <input type="text" placeholder="Enter Username" name="uname" id="uname" required />
     <label for="psw"><b>Password</b></label>
     <input type="password" placeholder="Enter Password" name="psw" id="psw" required />
     <button type="submit" class="btn">Login</button>
     <label>
       <input type="checkbox" checked="checked" name="remember" /> Remember me
     </label>
   </div>
   <div class="container modal-footer">
     <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn btn">Cancel</button>
     <span class="psw">Forgot <a href="#">password?</a></span>
   </div>
 </form>
</div>
</div>

                 <script>
                     var modal = document.getElementById("id01");
                     window.onclick = function (event) {
                         if (event.target == modal) {
                             modal.style.display = "none";
                         }
                     };
                 </script>
             </div>
         </nav>
     </header>

     
      <div class="seperating-bar"></div>







      
      <!-- About Section -->
      <section class="wrapper p-top">
         <div class="text-center">
            <h5>About Us</h5>
            <h2>Our Story</h2>
         </div>
         <div class="about-content text-center">
            <p>Welcome to Oingo Boingo Brothers, your number one source for all things food. We're dedicated to giving you the very best of takeaway meals, with a focus on dependability, customer service, and uniqueness.</p>
            <p>Founded in 2023, Oingo Boingo Brothers has come a long way from its beginnings. When we first started out, our passion for delicious food drove us to do tons of research so that Oingo Boingo Brothers can offer you the world's most advanced takeaway system.</p>
            <p>We now serve customers all over the country and are thrilled that we're able to turn our passion into our own website.</p>
         </div>
      </section>
      <div class="seperating-bar-3"></div>

      <!-- Team Section -->
      <section class="wrapper p-top"> 
         <div class="text-center">
            <h5>Meet Our Team</h5>
            <h2>Our Chefs</h2>
         </div>
         <div class="team-content text-center flex mt-4 gap-3">
            <div class="team-member">
               <img src="/static/images/placeholder.svg" alt="Chef 1">
               <h3>Caleb Fryer</h3>
               <p>Head Chef</p>
            </div>
            <div class="team-member">
               <img src="/static/images/placeholder.svg" alt="Chef 2">
               <h3>Jacob SixSeveny</h3>
               <p>Sous Chef</p>
            </div>
            <div class="team-member">
               <img src="/static/images/placeholder.svg" alt="Chef 3">
               <h3>Mathew Read</h3>
               <p>Pâtissier</p>
            </div>
            <div class="team-member">
               <img src="/static/images/placeholder.svg" alt="Chef 3">
               <h3>Dylan Barnyard</h3>
               <p>Pâtissier</p>
            </div>
         </div>
      </section>

      <!-- Footer Section -->
      <footer>
         <div class="wrapper">
            <div class="footer-content">
               <p>&copy; 2025 Oingo Boingo Brothers. All rights reserved.</p>
               <ul class="social-links flex gap-2">
                  <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
               </ul>
            </div>
         </div>
      </footer>
        <div class="cartTab" id="cartTab">
            <h1>Shopping Cart</h1>
            <div class="listcart">
            </div>
            <div class="btn">
                <button id="closeCart">CLOSE</button>
                <button id="checkoutBtn">CHECKOUT</button>
            </div>
        </div>
        <script src="/static/javascript.js"> </script>
    </body>
</html>