<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Takeaway System Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>


    <!-- Header Section -->
    <header>
        <nav class="navbar">
            <a href="#" class="logo">Takeaway System</a>

            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <div class="desktop-actions">
                <a href="#">
                    <i class="fa-solid fa-cart-shopping"></i>
                    
                </a>
                <a href="#" class="signin-btn">
                    Sign In
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </a>
            </div>



        </nav>
    </header>

     
    <!-- Main Content Section -->
    <main>  

    </main>


    <!-- Footer Section -->
    <footer> 

    </footer>

</body>
</html> 