<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Takeaway System Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- Header Section -->
    <header>
        <nav class="navbar flex between wrapper">
            <a href="/" class="logo">Oingo Boingo Brothers</a>
            <ul class="nav-links flex gap-3">
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/#store-info">Contact</a></li>
            </ul>
            <div class="desktop-action flex gap-2">
                <a class="cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="cart-value">0</span>
                </a>
                <!-- Button to open the modal order details form -->
                <button onclick="document.getElementById('id01').style.display='block'" class="signin btn">
                    Enter Order Details &nbsp;
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </button>

                <div id="id01" class="modal">
                    <div class="modal-content animate">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <div class="imgcontainer">
                            <img src="/static/images/placeholder.svg" alt="Avatar" class="avatar" />
                        </div>
                        <form class="modal-form" id="orderDetailsForm">
                            <div class="container">
                                <label for="orderName"><b>Order Name</b></label>
                                <input type="text" placeholder="Enter Order Name" name="orderName" id="orderName" required />
                                <label for="orderAddress"><b>Address</b></label>
                                <input type="text" placeholder="Enter Address" name="orderAddress" id="orderAddress" required />
                                <label for="orderPhone"><b>Phone Number</b></label>
                                <input type="tel" placeholder="Enter Phone Number" name="orderPhone" id="orderPhone" required />
                                <button type="submit" class="btn">Save Details</button>
                            </div>
                            <div class="container modal-footer">
                                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn btn">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>

    </header>

    <div class="seperating-bar"></div>

    <!-- Popular Picks Section -->
    <main>
         <section class="wrapper p-top">
                <div class="text-center">
                    <h5>Our Menu's</h5>
                    <h2>Popular Picks</h2>
                </div>
                <div class="menu-list text-center flex mt-4 gap-3">
                    <div class="order-card">
                        <div class="card-image">
                            <img src="/static/Burgers/Mathewburger.png" alt="Mathew Burger"  />
                        </div>
                        <h4>The Mathew Burger</h4>
                        <h4 class="price">$5.99</h4>
                        <a class="btn">Add to cart</a>
                    </div>

                    <div class="order-card">
                        <div class="card-image">
                            <img src="/static/food/sprite.jpg" alt="Sprite"  />
                        </div>
                        <h4>Sprite</h4>
                        <h4 class="price">$4.50</h4>
                        <a class="btn">Add to cart</a>
                    </div>

                    <div class="order-card">
                        <div class="card-image">
                            <img src="/static/food/Cheese Pizza.png" alt="Cheese Pizza" />
                        </div>
                        <h4>Cheese Pizza</h4>
                        <h4 class="price">$11.00</h4>
                        <a class="btn">Add to cart</a>
                    </div>
                </div>
            </section>
    </main>

    <div class="seperating-bar-3"></div>

    <!-- Main Menu Section -->
    <section class="main-menu wrapper p-top">
        <div class="text-center">
            <h5>Explore Our Menu</h5>
            <h2>Main Menu</h2>
        </div>

        <!-- Category 1 Burgers-->
        <div class="menu-category">
            <div class="menu-items flex gap-3">
                <div class="menu-item">
                    <img src="/static/Burgers/Mathewburger.png" alt="Mathew Burger"  />
                    <h4>Mathew Burger</h4>
                    <h4 class="price">$5.99</h4>
                    <a class="btn">Add to cart</a>
                </div>
                <div class="menu-item">
                    <img src="/static/Burgers/Cheese.webp" alt="Cheese Burger"  />
                    <h4>Cheese Burger</h4>
                    <h4 class="price">$4.99</h4>
                    <a class="btn">Add to cart</a>
                </div>
                <div class="menu-item">
                    <img src="/static/Burgers/chicken.webp" alt="Chicken Burger"  />
                    <h4>Chicken Burger</h4>
                    <h4 class="price">$6.99</h4>
                    <a class="btn">Add to cart</a>
                </div>
                <div class="menu-item">
                    <img src="/static/Burgers/kids.jpg" alt="Kids Burger"  />
                    <h4>Kids Burger</h4>
                    <h4 class="price">$3.99</h4>
                    <a class="btn">Add to cart</a>
                </div>
            </div>
        </div>

        <!-- Category 2 Chinese -->
        <div class="menu-category">
            <div class="menu-items flex gap-3">
                <div class="menu-item">
                    <img src="/static/Chinese/chow mein.jpg" alt="Chow Mein"  />
                    <h4>Chow Mein</h4>
                    <h4 class="price">$25.99</h4>
                    <a class="btn">Add to cart</a>
                </div>
                <div class="menu-item">
                    <img src="/static/Chinese/fried rice.jpg" alt="Fried Rice"  />
                    <h4>Fried Rice</h4>
                    <h4 class="price">$15.99</h4>
                    <a class="btn">Add to cart</a>
                </div>
                <div class="menu-item">
                    <img src="/static/Chinese/lchicken.jpg" alt="Lemon Chicken"  />
                    <h4>Lemon Chicken</h4>
                    <h4 class="price">$18.99</h4>
                    <a class="btn">Add to cart</a>
                </div>
                <div class="menu-item">
                    <img src="/static/Chinese/pork.jpg" alt="Pork"  />
                    <h4>Pork</h4>
                    <h4 class="price">$20.99</h4>
                    <a class="btn">Add to cart</a>
                </div>
            </div>
        </div>






    </section>

    <div class="seperating-bar-3"></div>

    <!-- Footer Section -->
    <footer>
        <div class="wrapper">
            <div class="footer-content">
                <p>&copy; 2025 Oingo Boingo Brothers. All rights reserved.</p>
                <ul class="social-links flex gap-2">
                    <li>
                        <i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li>
                        <i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li>
                        <i class="fa-brands fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="cartTab" id="cartTab">
        <h1>Shopping Cart</h1>
        <hr class="cart-divider" />
        <div class="listcart"></div>
        <div class="cart-total">
            Total: $<span id="cartTotal">0.00</span>
        </div>
        <div class="cart-buttons">
            <a id="closeCart" class="cartbtn">CLOSE</a>
            <a href="/payment" id="checkoutBtn" class="cartbtn">CHECKOUT</a>
        </div>
    </div>



    </div>
    <script src="/static/javascript.js"> </script>
</body>

</html>