<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Takeaway System Website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
            integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <!-- Header Section -->
        <header>
            <nav class="navbar flex between wrapper">
                <a href="/" class="logo">Oingo Boingo Brothers</a>
                <ul class="nav-links flex gap-3">
                    <li><a href="/">Home</a></li>
                    <li><a href="/menu">Menu</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/#store-info">Contact</a></li>
                </ul>
                <div class="desktop-action flex gap-2">
                    <a href="#" class="cart-icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="cart-value">0</span>
                    </a>
                    <!-- W3 Schools login button -->
                    <!-- Button to open the modal login form -->
                    <button onclick="document.getElementById('id01').style.display='block'" class="signin btn">
                        Sign In &nbsp;
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </button>

                    <div id="id01" class="modal">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <form class="modal-content animate" action="/action_page.php">
                            <div class="imgcontainer">
                                <img src="img_avatar2.png" alt="Avatar" class="avatar" />
                            </div>
                            <div class="container">
                                <label for="uname"><b>Username</b></label>
                                <input type="text" placeholder="Enter Username" name="uname" required />
                                <label for="psw"><b>Password</b></label>
                                <input type="password" placeholder="Enter Password" name="psw" required />
                                <button type="submit">Login</button>
                                <label> <input type="checkbox" checked="checked" name="remember" /> Remember me </label>
                            </div>
                            <div class="container" style="background-color: #f1f1f1;">
                                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                                <span class="psw">Forgot <a href="#">password?</a></span>
                            </div>
                        </form>
                    </div>

                    <script>
                        var modal = document.getElementById("id01");
                        window.onclick = function (event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                        };
                    </script>
                </div>
            </nav>
        </header>

        <div class="seperating-bar"></div>

        <section class="wrapper p-top">
            <div class="text-center">
                <h5>Our Menu's</h5>
                <h2>Popular Picks</h2>
            </div>
            <div class="menu-list text-center flex gap-3">
                <div class="order-card">
                    <div class="card-image">
                        <img src="/static/images/placeholder.svg" alt="Placeholder Image" class="picksimage" />
                    </div>
                    <h4>Food item name</h4>
                    <h4 class="price">$00.00</h4>
                    <a href="#" class="btn">Add to cart</a>
                </div>
                <div class="order-card">
                    <div class="card-image">
                        <img src="/static/images/placeholder.svg" alt="Placeholder Image" class="picksimage" />
                    </div>
                    <h4>Food item name</h4>
                    <h4 class="price">$00.00</h4>
                    <a href="#" class="btn">Add to cart</a>
                </div>
                <div class="order-card">
                    <div class="card-image">
                        <img src="/static/images/placeholder.svg" alt="Placeholder Image" class="picksimage" />
                    </div>
                    <h4>Food item name</h4>
                    <h4 class="price">$00.00</h4>
                    <a href="#" class="btn">Add to cart</a>
                </div>
            </div>
        </section>
        <div class="seperating-bar-3"></div>
         

   <!-- menu items section>  -->
   <div class="menu-items">
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Egg Burger" />
                <h2 class="burgername">Egg Burger</h2>
                <h3 class="burgerprice">$7.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Ham Burger" />
                <h2 class="burgername">Ham Burger</h2>
                <h3 class="burgerprice">$7.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Cheese Burger" />
                <h2 class="burgername">Cheese Burger</h2>
                <h3 class="burgerprice">$7.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Chicken Burger" />
                <h2 class="burgername">Chicken Burger</h2>
                <h3 class="burgerprice">$9.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Fish Burger" />
                <h2 class="burgername">Fish Burger</h2>
                <h3 class="burgerprice">$9.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp"  alt="Works Burger" />
                <h2 class="burgername">Works Burger</h2>
                <h3 class="burgerprice">$12.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Steak Burger" />
                <h2 class="burgername">Steak Burger</h2>
                <h3 class="burgerprice">$10.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Kids Burger" />
                <h2 class="burgername">Kids Burger</h2>
                <h3 class="burgerprice">$5.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Hawaiian Burger" />
                <h2 class="burgername">Hawaiian Burger</h2>
                <h3 class="burgerprice">$10.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Mathewburger.png" alt="Mathew Burger" />
                <h2 class="burgername">Mathew Burger</h2>
                <h3 class="burgerprice">$17.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
        </div>
        <div class="menubar"></div>
        <!-- Fried Rice Section -->
        <div class="foodtypebox">
            <h1>Fried Rice</h1>
        </div>
        <div class="menubar"></div>
        <div class="parent">
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Egg Fried Rice" />
                <h2 class="burgername">Egg Fried Rice</h2>
                <h3 class="burgerprice">$18.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Chicken Fried Rice" />
                <h2 class="burgername">Chicken Fried Rice</h2>
                <h3 class="burgerprice">$19.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Pork Fried Rice" />
                <h2 class="burgername">Pork Fried Rice</h2>
                <h3 class="burgerprice">$19.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Combination Meat Fried Rice" />
                <h2 class="burgername">Combination Meat Fried Rice</h2>
                <h3 class="burgerprice">$21.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Beef Fried Rice" />
                <h2 class="burgername">Beef Fried Rice</h2>
                <h3 class="burgerprice">$19.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Prawn Fried Rice" />
                <h2 class="burgername">Prawn Fried Rice</h2>
                <h3 class="burgerprice">$20.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="BBQ Pork Fried Rice" />
                <h2 class="burgername">BBQ Pork Fried Rice</h2>
                <h3 class="burgerprice">$20.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Special Fried Rice" />
                <h2 class="burgername">Special Fried Rice</h2>
                <h3 class="burgerprice">$21.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
        </div>
        <div class="menubar"></div>

        <!-- Chow Mein Section -->
        <div class="foodtypebox">
            <h1>Chow Mein</h1>
        </div>
        <div class="menubar"></div>
        <div class="parent">
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Vegetable Chow Mein" />
                <h2 class="burgername">Vegetable Chow Mein</h2>
                <h3 class="burgerprice">$19.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Chicken Chow Mein" />
                <h2 class="burgername">Chicken Chow Mein</h2>
                <h3 class="burgerprice">$20.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Pork Chow Mein" />
                <h2 class="burgername">Pork Chow Mein</h2>
                <h3 class="burgerprice">$20.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="BBQ Pork Chow Mein" />
                <h2 class="burgername">BBQ Pork Chow Mein</h2>
                <h3 class="burgerprice">$21.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Prawn Chow Mein" />
                <h2 class="burgername">Prawn Chow Mein</h2>
                <h3 class="burgerprice">$22.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Special Chow Mein" />
                <h2 class="burgername">Special Chow Mein</h2>
                <h3 class="burgerprice">$23.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Beef Chow Mein" />
                <h2 class="burgername">Beef Chow Mein</h2>
                <h3 class="burgerprice">$20.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
        </div>
        <div class="menubar"></div>

        <!-- Fried Sides Section -->
        <div class="foodtypebox">
            <h1>Fried Sides</h1>
        </div>
        <div class="menubar"></div>
        <div class="parent">
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Battered Sausage" />
                <h2 class="burgername">Battered Sausage</h2>
                <h3 class="burgerprice">$5.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Deep Fried Moro Bar" />
                <h2 class="burgername">Deep Fried Moro Bar</h2>
                <h3 class="burgerprice">$3.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Beef Patty" />
                <h2 class="burgername">Beef Patty</h2>
                <h3 class="burgerprice">$2.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Pineapple Fritter" />
                <h2 class="burgername">Pineapple Fritter</h2>
                <h3 class="burgerprice">$2.70</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>

            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Deep Fried Banana" />
                <h2 class="burgername">Deep Fried Banana</h2>
                <h3 class="burgerprice">$3.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Pork Bun" />
                <h2 class="burgername">Pork Bun</h2>
                <h3 class="burgerprice">$4.50</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <!-- Chips Section -->
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Regular Chips" />
                <h2 class="burgername">Regular Chips</h2>
                <h3 class="burgerprice">$3.50</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Large Chips" />
                <h2 class="burgername">Large Chips</h2>
                <h3 class="burgerprice">$5.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Curly Fries" />
                <h2 class="burgername">Curly Fries</h2>
                <h3 class="burgerprice">$6.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Sweet Potato Fries" />
                <h2 class="burgername">Sweet Potato Fries</h2>
                <h3 class="burgerprice">$6.50</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
        </div>
        <div class="menubar"></div>
        <div class="foodtypebox">
            <h1>Fish</h1>
        </div>
        <div class="menubar"></div>
        <div class="parent">
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Hoki (Regular)" />
                <h2 class="burgername">Hoki (Regular)</h2>
                <h3 class="burgerprice">$7.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Hoki (Crumbed)" />
                <h2 class="burgername">Hoki (Crumbed)</h2>
                <h3 class="burgerprice">$7.50</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Gurnard (Regular)" />
                <h2 class="burgername">Gurnard (Regular)</h2>
                <h3 class="burgerprice">$10.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Gurnard (Crumbed)" />
                <h2 class="burgername">Gurnard (Crumbed)</h2>
                <h3 class="burgerprice">$10.50</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Tarakihi (Regular)" />
                <h2 class="burgername">Tarakihi (Regular)</h2>
                <h3 class="burgerprice">$9.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Tarakihi (Crumbed)" />
                <h2 class="burgername">Tarakihi (Crumbed)</h2>
                <h3 class="burgerprice">$9.50</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Snapper (Regular)" />
                <h2 class="burgername">Snapper (Regular)</h2>
                <h3 class="burgerprice">$11.00</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="menu-item">
                <img src="/static/Burgers/Cheese.webp" alt="Snapper (Crumbed)" />
                <h2 class="burgername">Snapper (Crumbed)</h2>
                <h3 class="burgerprice">$11.50</h3>
                <a href="#" class="btn">Add to cart</a>
            </div>
        </div>




























        <!-- Footer Section -->
        <footer>
            <div class="wrapper">
                <div class="footer-content">
                    <p>&copy; 2023 Oingo Boingo Brothers. All rights reserved.</p>
                    <ul class="social-links flex gap-2">
                        <li>
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>

